# Application Settings
PROJECT_NAME=
API_V1_STR=
PORT=
HOST=
DEBUG=

# Security
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Database (PostgreSQL)
DATABASE_URL=

# Cache / Realtime (Redis)
REDIS_URL=